engine/
uploads/_cache/
uploads/_remote/
database/_cache/
engine

forms/news

forms/pages

tpl/page.php

forms/comments

forms/quotes

forms/users

database/

ocr/.cache/

ocr/.config/

uploads/

*.jsgz

*.cssgz
